.search-container {
    background: #fff;
    height: 30px;
   
    padding:  10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.search-input{
    width: 150px;
    height: 20px;
}
.search-container .search-input {
    border: none;
    outline: none;

}
.search-btn{
    color: gray;
}